<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = '分类 - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null, sidebar = ~{::sidebar}, contentClass = '')}">
<th:block th:fragment="content">
    <div th:style="${not #strings.isEmpty(theme.config.header.images)} ? 'background-image: url(' + ${theme.config.header.images} + ')' : ''"
        class="header m-auto mt-10 br-20 flex flex-col">
        <a th:href="${site.url}" class="flex m-auto">
            <img th:src="${site.logo}" alt="Logo" class="header-site" />
        </a>
        <h1 th:text="${theme.config.header.title ?: site.title}"
            th:style="${!#strings.isEmpty(theme.config.header.color)} ? 'color: ' + ${theme.config.header.color} : ''"
            class="mt-10 mb-10 text-2"></h1>
        <hr>
        <p th:text="${theme.config.header.description ?: site.subtitle}"
            th:style="${!#strings.isEmpty(theme.config.header.color)} ? 'color: ' + ${theme.config.header.color} : ''"
            class="mt-10"></p>
    </div>
    <th:block th:replace="~{modules/menu}" />
    <div class="categoies flex mt-10">
        <div class="categoies-main mr-5">
            <div class="categories-item flex" th:each="category : ${categories}">
                <div>
                    <a th:href="@{${category.status.permalink}}">
                        <img th:src="${category.spec.cover}" th:if="not ${#strings.isEmpty(category.spec.cover)}">
                    </a>
                </div>
                <div class="categories-item-content">
                    <h2>
                        <a th:href="@{${category.status.permalink}}">
                            <span th:text="${category.spec.displayName}"></span>
                            <sup th:text="'[' + @{${category.status.visiblePostCount}} + ']'"></sup>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <th:block th:replace="~{modules/other-card :: other-card(prepend = null)}" />
    </div>
    <th:block th:replace="~{modules/footer}" />
</th:block>