<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${site.title}, head = null,content = ~{::content})}">

<body>
  <th:block th:fragment="content">
    <th:block th:replace="~{modules/header}" />
    <th:block th:replace="~{modules/menu}" />
    <th:block th:replace="~{modules/publicity}" />
    <th:block th:replace="~{modules/notification}" />
    <th:block th:replace="~{modules/main-contents}" />
    <th:block th:replace="~{modules/footer}" />
  </th:block>
</body>

</html>