<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${post.spec.title} + ' - ' + ${site.title},head = null,content = ~{::content})}">
<th:block th:fragment="content">
  <div
    th:style="${not #strings.isEmpty(theme.config.header.images)} ? 'background-image: url(' + ${theme.config.header.images} + ')' : ''"
    class="header m-auto mt-10 br-20 flex flex-col">
    <a th:href="${site.url}" class="flex m-auto">
      <img th:src="${site.logo}" alt="Logo" class="header-site" />
    </a>
    <h1 th:text="${theme.config.header.title ?: site.title}"
      th:style="${!#strings.isEmpty(theme.config.header.color)} ? 'color: ' + ${theme.config.header.color} : ''"
      class="mt-10 mb-10 text-2"></h1>
    <hr>
    <p th:text="${theme.config.header.description ?: site.subtitle}"
      th:style="${!#strings.isEmpty(theme.config.header.color)} ? 'color: ' + ${theme.config.header.color} : ''"
      class="mt-10"></p>
  </div>
  <th:block th:replace="~{modules/menu}" />
  <th:block th:replace="~{modules/post-contents}" />
  <!-- 文章详情 -->
  <th:block th:replace="~{modules/footer}" />
</th:block>